/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2B2E37FF;
    background-alt: #282B31FF;
    foreground:     #ECEFF4FF;
    selected:       #98C379FF;
    active:         #61AFEFFF;
    urgent:         #E06C75FF;
}
